BUILD END TO END FAKER DATA BASED ON RELATIONSHIP
1.  Get MAIN TABLE :  CUSTOMERS
2.  Tranfer it to pandas format and SQL (for insert table later)
3. Get customer id from Pandas Dataframe and then generate transaction tables

In [5]:
import uuid
import pandas as pd
from faker import Faker

# Initialize Faker
fake = Faker()

# Number of records to generate
num_customers = 100
num_orders = 500

# Generate customers
customers = []
for _ in range(num_customers):
    customer_id = str(uuid.uuid4())
    name = fake.name()
    address = fake.address()
    email = fake.email()
    customers.append({
        "customer_id": customer_id,
        "name": name,
        "email": email
    })

# Convert to DataFrame
customer_df = pd.DataFrame(customers)

# Generate orders
orders = []
for _ in range(num_orders):
    order_id = str(uuid.uuid4())
    customer_id = customer_df.sample(n=1).iloc[0]['customer_id']
    order_date = fake.date()
    amount = round(fake.random_number(digits=5, fix_len=True) / 100, 2)
    orders.append({
        "order_id": order_id,
        "customer_id": customer_id,
        "order_date": order_date,
        "amount": amount
    })

# Convert to DataFrame
order_df = pd.DataFrame(orders)

# Function to convert DataFrame to SQL insert statements
def df_to_sql_insert(df, table_name):
    columns = ', '.join(df.columns)
    sql_statements = []
    
    for _, row in df.iterrows():
        values = ', '.join([f"'{str(x)}'" if isinstance(x, str) else str(x) for x in row.values])
        sql_statement = f"INSERT INTO {table_name} ({columns}) VALUES ({values});"
        sql_statements.append(sql_statement)
    
    return sql_statements


def write_sql_to_file(sql_statements, file_path):
    with open(file_path, 'w') as file:
        for statement in sql_statements:
            file.write(statement + '\n')
    print(f"SQL statements have been written to {file_path}")

# Generate SQL insert statements
customer_insert_statements = df_to_sql_insert(customer_df, 'customers')
order_insert_statements = df_to_sql_insert(order_df, 'orders')

# Print sample insert statements
print("Customer Insert Statements")
for stmt in customer_insert_statements[:5]:
    print(stmt)

print("\nOrder Insert Statements")
for stmt in order_insert_statements[:5]:
    print(stmt)
    
    
customers_file_path = 'customers_data.sql'
orders_file_path = 'orders_data.sql'

write_sql_to_file(customer_insert_statements, customers_file_path)
write_sql_to_file(order_insert_statements, orders_file_path)

Customer Insert Statements
INSERT INTO customers (customer_id, name, email) VALUES ('c6aad5dc-3034-4b55-8e16-934dbcc8fcc1', 'Sharon Burke', 'qwelch@example.com');
INSERT INTO customers (customer_id, name, email) VALUES ('ffcef10e-3625-4975-af06-f26beb3e9a02', 'Taylor Michael', 'xmathis@example.com');
INSERT INTO customers (customer_id, name, email) VALUES ('88bdadc9-bbcd-46c5-b5e7-fa7c2e54a9ee', 'Alison Cooper', 'wardjessica@example.com');
INSERT INTO customers (customer_id, name, email) VALUES ('b28f26cd-b4f2-4f60-9323-f6fb795db8b1', 'Alvin Scott', 'fmorgan@example.com');
INSERT INTO customers (customer_id, name, email) VALUES ('28241036-8717-40dc-9c21-8a4f79995de1', 'Alyssa Walker', 'thall@example.com');

Order Insert Statements
INSERT INTO orders (order_id, customer_id, order_date, amount) VALUES ('de7a31d2-ae7c-43c3-a69d-eb9df6aad1fe', '5704b718-7cad-423a-926f-a5682cb3452b', '2011-01-20', 387.97);
INSERT INTO orders (order_id, customer_id, order_date, amount) VALUES ('329b2ccf-acf6-4023-bf62-455d665155e5', '3062ee16-5c52-4490-9cc0-faba0bfb73a9', '1977-11-01', 992.83);
INSERT INTO orders (order_id, customer_id, order_date, amount) VALUES ('44e2ce4f-176f-4476-8f1d-95eb4be61041', '6eb0900b-bc65-4d50-9258-bc18fa489ba2', '2009-02-20', 966.65);
INSERT INTO orders (order_id, customer_id, order_date, amount) VALUES ('b6ceb142-2552-46ec-b3c3-fae8cf4ef486', 'fb35169c-cfb3-4746-9042-5de87f311f9e', '2001-04-29', 662.51);
INSERT INTO orders (order_id, customer_id, order_date, amount) VALUES ('19593f25-8943-4b53-9098-54b5bd4c66d0', 'fa852d3a-55eb-4993-b986-47a7ce3662e5', '1988-03-13', 860.14);
SQL statements have been written to customers_data.sql
SQL statements have been written to orders_data.sql